* {
  font-family: "Roboto", sans-serif;
  color: var(--vscode-foreground);
}

body:not([data-vscode-theme-name]) {
  --vscode-foreground: #cccccc;
  color: #cccccc;
  background-color: #282c34;
}
body {
  overflow: hidden;
}
.w-100 {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mermaidSvgChart {
  height: 100% !important;
}
